@model DecisionViewModel
@{
    const string title = "Podjęta decyzja na temat wniosku";
    Model.PageTitle = title;
}

<div class="text-center">
    <h1 class="display-4">@title</h1>
</div>

<br/>

<div class="pt-3">

    <div class="row">
        <div class="col-5 offset-1">
            <strong>Wniosek numer</strong>
        </div>
        <div class="col-5">
            @Model.BusinessKey
        </div>
    </div>
    
    <div class="row">
        <div class="col-5 offset-1">
            <strong>Decyzja podjęta</strong>
        </div>
        <div class="col-5">
            @(Model.Accepted ? "Wniosek zaakceptowany" : "Wniosek odrzucony")
        </div>
    </div>

</div>

